@import '../../../common/vars.css';

.account-icon {
    filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.1));

    &__icon {
       position: relative;

       display: flex;
       align-items: center;
       justify-content: center;

       width: 50px;
       min-width: 50px;
       height: 35px;

       background-color: var(--white-color);
       clip-path: polygon(80% 0, 100% 30%, 100% 100%, 0 100%, 0 0);

       &:after {
           position: absolute;
           top: -4px;
           right: -5px;

           width: 16px;
           height: 15px;

           border-radius: 0 0 0 3px;
           background-color: #fdafa4;

           content: '';
       }
   }
}