@import '../../common/vars.css';

.tabs {
    display: flex;
    margin-bottom: 30px;

    &__tab {
        display: block;
        margin-right: 30px;

        color: var(--text-color);
        border: none;
        text-decoration: none;

        opacity: var(--opacity-minor);
        transition: opacity var(--duration);

        &_active {
            opacity: 1;
        }
    }
}
