@import '../../common/vars.css';

.chat-field {
    display: flex;
    flex-direction: column;
    padding: 30px;

    background-color: rgba(101, 101, 101, 0.95);

    overflow-y: scroll;

    &__message {
        animation: showMessage var(--duration);

        &_author {
            &_support {
                align-self: flex-end;

                & + .chat-field__message_author_user {
                    margin-top: 10px;

                    .base-message__photo,
                    .base-message__name {
                        display: block;
                    }
                }
            }
            &_user {
                padding-left: 40px;

                & + .chat-field__message_author_support {
                    margin-top: 10px;
                }
            }
        }

        .text-message__message,
        .transaction-message__message {
            &_author {
                &_user {
                    background-color: var(--user-message-color);
                    color: var(--dark-gray-color);

                    border-radius: 10px 10px 10px 4px;
                }
            }
        }
    }

}

@keyframes showMessage {
    from {
        opacity: 0;
        transform: translateY(3px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}