@import '../../common/vars.css';

.accounts {
    padding: 60px;

    &__account-item {
        max-width: 265px;
        margin-bottom: 30px;
    }

    &__header {
        display: flex;
        margin-bottom: 15px;
    }

    &__account-icon {
        margin-right: 20px;
    }

    &__info {
        width: 100%;
        padding-right: 10px;
    }

    &__icon-open {
        position: relative;

        width: 36px;
        min-width: 36px;
        height: 36px;

        background-color: var(--emoji-background);
        border-radius: 50%;

        cursor: pointer;
    }

    &__details {
        padding-left: 70px;
    }

    &__note {
        color: var(--note-color)
    }
}