@import '../../../common/vars.css';

.icon {
    display: block;
    width: 24px;
    height: 24px;

    cursor: pointer;

    &_type {
        &_text {
            background-image: url('./images/text.svg');
        }
        &_sticker {
            background-image: url('./images/sticker.svg');
        }
        &_picture {
            background-image: url('./images/picture.svg');
        }
        &_attach {
            background-image: url('./images/attach.svg');
        }
        &_send {
            background-image: url('./images/send.svg');
        }
    }

    &_hovered {
        opacity: var(--opacity-minor);
        transition: opacity var(--duration);

        &:hover {
            opacity: 1;
            transition: opacity calc(var(--duration) / 2);
        }
    }
}
