@import '../../common/vars.css';

.chat-action {
    padding: 20px 30px;
    background-color: var(--dark-gray-color);

    &__actions {
        display: flex;
        margin-bottom: 15px;
    }

    &__action-icon {
        margin-right: 20px;

        &_sticker {
            &:hover + .chat-action__stickers-popup {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__form {
        display: flex;
        align-items: end;
    }

    &__textarea,
    &__send {
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
    }

    &__textarea {
        display: block;
        width: 100%;
        height: 30px;
        padding-right: 10px;
        resize: none;

        color: var(--white-color);
    }

    &__send {
        cursor: pointer;
    }

    &__stickers {
        position: relative;
    }

    &__stickers-popup {
        position: absolute;
        top: 0;
        left: 20px;

        display: flex;
        flex-wrap: wrap;
        width: 300px;
        height: 400px;

        background-color: var(--white-color);
        border-radius: 10px 10px 10px 4px;

        transform: translateY(-100%);

        opacity: 0;
        visibility: hidden;
        overflow-y: scroll;

        transition: all var(--duration) calc(var(--duration) / 2);

        &:hover {
            opacity: 1;
            visibility: visible;
        }
    }

    &__sticker {
        width: 100px;
        min-width: 100px;
        height: 100px;
        min-height: 100px;

        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;

        cursor: pointer;
    }
}