/** Regular */
@font-face {
    font-family: 'SF Text';
    font-weight: 400;
    src: url('https://sf.abarba.me/SF-UI-Text-Regular.otf');
}

/** Bold */
@font-face {
    font-family: 'SF Text Bold';
    font-weight: 700;
    src: url('https://sf.abarba.me/SF-UI-Text-Bold.otf');
}

:root {
    --duration: 0.35s;
    --text-color: var(--dark-gray-color);
    --font-family: var(--font-normal);

    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 24px;

    --line-height: 1.4;

    --font-normal: 'SF Text', Arial, Helvetica, sans-serif;
    --font-bold: 'SF Text Bold', Arial, Helvetica, sans-serif;

    --white-color: #fff;
    --dark-gray-color: #333333;
    --gray-color: #f6f6f6;
    --light-gray-color: #fafafa;
    --note-color: #b2b2b2;

    --opacity-minor: .6;

    --user-message-color: #fcfcfc;
    --emoji-background: #eeeeee;
}